tr {
  width: 100%;
  transition: background-color var(--ce-transition-duration);
  background-color: #fff;

  td, th {
    padding: 10px;
    background-color: inherit;
  }

  .ce-fixed-left, .ce-fixed-right {
    position: sticky;
  }
}